.home-info {
    min-height: 0;
    margin-bottom: 0;
}

.entry-content p {
    margin-bottom: 20px;
}

code {
    //font-style: oblique;
    font-weight: bold;
    //color: lemonchiffon!important;
}

footer img {
    display: inline-block;
    vertical-align: text-bottom;
}

.dark {
    --hljs-bg: rgb(30,30,30);
}

.right {
    text-align: right;
}

.post-footer {
    margin-top: 30px;
}

.list .paginav {
    background: var(--entry);
}

.pagination .random {
    margin-left: auto;
    margin-right: auto;
}

.pagination span.title {
    font-weight: bold;
}

/* body.dark { */
/*        background-image: url('/jota_inv.png'); */
/* } */

/* body { */
/*     background-image: url('/jota.png'); */
/*     background-repeat: no-repeat; */
/*     background-position-x: center; */
/*     background-position-y: calc(100% - var(--footer-height) - 20px); */
/*     background-size: 60%; */
/* } */

.dark .background {
    filter: invert(100%);
}



img.background {
    position: absolute;
    bottom: calc(var(--footer-height));
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: -10;
    width: 50%;
    opacity: 0.2;
}

.post-content, .post-entry {
    opacity: 0.8;
}
