   <footer class="footer">
      <p xmlns:cc="https://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
        © 2023 Héctor Sanjuán. <a href="https://jotasones.es" property="dct:title" rel="cc:attributionURL">
          Jotason.es</a> usa la licencia <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" rel="license noopener noreferrer" style="display:inline-block;" target="_blank">CC BY-NC-ND 4.0
	  <img src="/cc.svg" style="height:22px!important;margin-left:3px;">
	  <img src="/by.svg" style="height:22px!important;margin-left:3px;">
	  <img src="/nc.svg" style="height:22px!important;margin-left:3px;">
	  <img src="/nd.svg" style="height:22px!important;margin-left:3px;"></a>
      </p>
    </footer>
